@model List<PropositionBet>
@{
    ViewData["Title"] = "Play";
}

<div class="container">
    <partial name="_GamesLinks" />

    <hr />
    <div>
        <h2>PropBets</h2>
        
        @* Add Error message *@


    </div>
</div>

